.colorscheme-dark {
    color: #dadada;
    background-color: #212121;
}
.colorscheme-dark a {
    color: #42a5f5;
}
.colorscheme-dark h1,
.colorscheme-dark h2,
.colorscheme-dark h3,
.colorscheme-dark h4,
.colorscheme-dark h5,
.colorscheme-dark h6 {
    color: #dadada;
}
.colorscheme-dark h1:hover .heading-link,
.colorscheme-dark h2:hover .heading-link,
.colorscheme-dark h3:hover .heading-link,
.colorscheme-dark h4:hover .heading-link,
.colorscheme-dark h5:hover .heading-link,
.colorscheme-dark h6:hover .heading-link {
    visibility: visible;
}
.colorscheme-dark h1 .heading-link,
.colorscheme-dark h2 .heading-link,
.colorscheme-dark h3 .heading-link,
.colorscheme-dark h4 .heading-link,
.colorscheme-dark h5 .heading-link,
.colorscheme-dark h6 .heading-link {
    color: #42a5f5;
    font-weight: inherit;
    text-decoration: none;
    font-size: 80%;
    visibility: hidden;
}
.colorscheme-dark h1 .title-link,
.colorscheme-dark h2 .title-link,
.colorscheme-dark h3 .title-link,
.colorscheme-dark h4 .title-link,
.colorscheme-dark h5 .title-link,
.colorscheme-dark h6 .title-link {
    color: inherit;
    font-weight: inherit;
    text-decoration: none;
}
.colorscheme-dark code {
    background-color: #424242;
    color: #dadada;
}
.colorscheme-dark .highlight pre {
    background-color: #424242;
    color: #212121;
}
.colorscheme-dark .highlight pre code {
    background-color: inherit;
    color: inherit;
}
.colorscheme-dark :not(.highlight) > pre code {
    background-color: inherit;
    color: inherit;
}
.colorscheme-dark blockquote {
    border-left: 2px solid #424242;
}
.colorscheme-dark th,
.colorscheme-dark td {
    padding: 1.6rem;
}
.colorscheme-dark table {
    border-collapse: collapse;
}
.colorscheme-dark table td,
.colorscheme-dark table th {
    border: 2px solid #dadada;
}
.colorscheme-dark table tr:first-child th {
    border-top: 0;
}
.colorscheme-dark table tr:last-child td {
    border-bottom: 0;
}
.colorscheme-dark table tr td:first-child,
.colorscheme-dark table tr th:first-child {
    border-left: 0;
}
.colorscheme-dark table tr td:last-child,
.colorscheme-dark table tr th:last-child {
    border-right: 0;
}
@media (prefers-color-scheme: dark) {
    colorscheme-auto {
        color: #dadada;
        background-color: #212121;
    }
    colorscheme-auto a {
        color: #42a5f5;
    }
    colorscheme-auto h1,
    colorscheme-auto h2,
    colorscheme-auto h3,
    colorscheme-auto h4,
    colorscheme-auto h5,
    colorscheme-auto h6 {
        color: #dadada;
    }
    colorscheme-auto h1:hover .heading-link,
    colorscheme-auto h2:hover .heading-link,
    colorscheme-auto h3:hover .heading-link,
    colorscheme-auto h4:hover .heading-link,
    colorscheme-auto h5:hover .heading-link,
    colorscheme-auto h6:hover .heading-link {
        visibility: visible;
    }
    colorscheme-auto h1 .heading-link,
    colorscheme-auto h2 .heading-link,
    colorscheme-auto h3 .heading-link,
    colorscheme-auto h4 .heading-link,
    colorscheme-auto h5 .heading-link,
    colorscheme-auto h6 .heading-link {
        color: #42a5f5;
        font-weight: inherit;
        text-decoration: none;
        font-size: 80%;
        visibility: hidden;
    }
    colorscheme-auto h1 .title-link,
    colorscheme-auto h2 .title-link,
    colorscheme-auto h3 .title-link,
    colorscheme-auto h4 .title-link,
    colorscheme-auto h5 .title-link,
    colorscheme-auto h6 .title-link {
        color: inherit;
        font-weight: inherit;
        text-decoration: none;
    }
    colorscheme-auto code {
        background-color: #424242;
        color: #dadada;
    }
    colorscheme-auto .highlight pre {
        background-color: #424242;
        color: #212121;
    }
    colorscheme-auto .highlight pre code {
        background-color: inherit;
        color: inherit;
    }
    colorscheme-auto :not(.highlight) > pre code {
        background-color: inherit;
        color: inherit;
    }
    colorscheme-auto blockquote {
        border-left: 2px solid #424242;
    }
    colorscheme-auto th,
    colorscheme-auto td {
        padding: 1.6rem;
    }
    colorscheme-auto table {
        border-collapse: collapse;
    }
    colorscheme-auto table td,
    colorscheme-auto table th {
        border: 2px solid #dadada;
    }
    colorscheme-auto table tr:first-child th {
        border-top: 0;
    }
    colorscheme-auto table tr:last-child td {
        border-bottom: 0;
    }
    colorscheme-auto table tr td:first-child,
    colorscheme-auto table tr th:first-child {
        border-left: 0;
    }
    colorscheme-auto table tr td:last-child,
    colorscheme-auto table tr th:last-child {
        border-right: 0;
    }
}
.colorscheme-dark .content .post .tags .tag {
    background-color: #424242;
}
.colorscheme-dark .content .post .tags .tag a {
    color: #dadada;
}
.colorscheme-dark .content .post .tags .tag a:active {
    color: #dadada;
}
.colorscheme-dark .content .list ul li .title,
.colorscheme-dark .content .project .title {
    color: #dadada;
}
.colorscheme-dark .content .list ul li .title:hover,
.colorscheme-dark .content .list ul li .title:focus,
.colorscheme-dark .content .project .title:hover,
.colorscheme-dark .content .project .title:focus {
    color: #42a5f5;
}
.colorscheme-dark .content .centered .about ul li a {
    color: #dadada;
}
.colorscheme-dark .content .centered .about ul li a:hover,
.colorscheme-dark .content .centered .about ul li a:focus {
    color: #42a5f5;
}
@media (prefers-color-scheme: dark) {
    colorscheme-auto .content .post .tags .tag {
        background-color: #424242;
    }
    colorscheme-auto .content .post .tags .tag a {
        color: #dadada;
    }
    colorscheme-auto .content .post .tags .tag a:active {
        color: #dadada;
    }
    colorscheme-auto .content .list ul li .title {
        color: #dadada;
    }
    colorscheme-auto .content .list ul li .title:hover,
    colorscheme-auto .content .list ul li .title:focus {
        color: #42a5f5;
    }
    colorscheme-auto .content .centered .about ul li a {
        color: #dadada;
    }
    colorscheme-auto .content .centered .about ul li a:hover,
    colorscheme-auto .content .centered .about ul li a:focus {
        color: #42a5f5;
    }
}
.colorscheme-dark .notice .notice-title {
    border-bottom: 1px solid #212121;
}
@media (prefers-color-scheme: dark) {
    colorscheme-auto .notice .notice-title {
        border-bottom: 1px solid #212121;
    }
}
.colorscheme-dark .navigation a,
.colorscheme-dark .navigation span {
    color: #dadada;
}
.colorscheme-dark .navigation a:hover,
.colorscheme-dark .navigation a:focus {
    color: #42a5f5;
}
@media only screen and (max-width: 768px) {
    .colorscheme-dark .navigation .navigation-list {
        background-color: #212121;
        border-top: solid 2px #424242;
        border-bottom: solid 2px #424242;
    }
}
@media only screen and (max-width: 768px) {
    .colorscheme-dark .navigation .navigation-list .menu-separator {
        border-top: 2px solid #dadada;
    }
}
@media only screen and (max-width: 768px) {
    .colorscheme-dark .navigation #menu-toggle:checked + label > i {
        color: #424242;
    }
}
.colorscheme-dark .navigation i {
    color: #dadada;
}
.colorscheme-dark .navigation i:hover,
.colorscheme-dark .navigation i:focus {
    color: #42a5f5;
}
.colorscheme-dark .navigation .menu-button i:hover,
.colorscheme-dark .navigation .menu-button i:focus {
    color: #dadada;
}
@media (prefers-color-scheme: dark) {
    colorscheme-auto .navigation a,
    colorscheme-auto .navigation span {
        color: #dadada;
    }
    colorscheme-auto .navigation a:hover,
    colorscheme-auto .navigation a:focus {
        color: #42a5f5;
    }
}
@media only screen and (prefers-color-scheme: dark) and (max-width: 768px) {
    colorscheme-auto .navigation .navigation-list {
        background-color: #212121;
        border-top: solid 2px #424242;
        border-bottom: solid 2px #424242;
    }
}
@media only screen and (prefers-color-scheme: dark) and (max-width: 768px) {
    colorscheme-auto .navigation .navigation-list .menu-separator {
        border-top: 2px solid #dadada;
    }
}
@media only screen and (prefers-color-scheme: dark) and (max-width: 768px) {
    colorscheme-auto .navigation #menu-toggle:checked + label > i {
        color: #424242;
    }
}
@media (prefers-color-scheme: dark) {
    colorscheme-auto .navigation i {
        color: #dadada;
    }
    colorscheme-auto .navigation i:hover,
    colorscheme-auto .navigation i:focus {
        color: #42a5f5;
    }
    colorscheme-auto .navigation .menu-button i:hover,
    colorscheme-auto .navigation .menu-button i:focus {
        color: #dadada;
    }
}
.colorscheme-dark .tabs label.tab-label {
    background-color: #424242;
    border-color: #4f4f4f;
}
.colorscheme-dark .tabs input.tab-input:checked + label.tab-label {
    background-color: #212121;
}
.colorscheme-dark .tabs .tab-content {
    background-color: #212121;
    border-color: #4f4f4f;
}
@media (prefers-color-scheme: dark) {
    colorscheme-auto .tabs label.tab-label {
        background-color: #424242;
        border-color: #4f4f4f;
    }
    colorscheme-auto .tabs input.tab-input:checked + label.tab-label {
        background-color: #212121;
    }
    colorscheme-auto .tabs .tab-content {
        background-color: #212121;
        border-color: #4f4f4f;
    }
}
.colorscheme-dark .taxonomy-element {
    background-color: #424242;
}
.colorscheme-dark .taxonomy-element a {
    color: #dadada;
}
.colorscheme-dark .taxonomy-element a:active {
    color: #dadada;
}
@media (prefers-color-scheme: dark) {
    colorscheme-auto .taxonomy-element {
        background-color: #424242;
    }
    colorscheme-auto .taxonomy-element a {
        color: #dadada;
    }
    colorscheme-auto .taxonomy-element a:active {
        color: #dadada;
    }
}
.colorscheme-dark .footer a {
    color: #42a5f5;
}
.colorscheme-dark .footer .container .heart::after {
    content: "🤍";
}
@media (prefers-color-scheme: dark) {
    colorscheme-auto .footer a {
        color: #42a5f5;
    }
}
.colorscheme-dark .float-container a {
    color: #dadada;
    background-color: #424242;
}
.colorscheme-dark .float-container a:hover,
.colorscheme-dark .float-container a:focus {
    color: #42a5f5;
}
@media only screen and (max-width: 768px) {
    .colorscheme-dark .float-container a:hover,
    .colorscheme-dark .float-container a:focus {
        color: #dadada;
    }
}
@media (prefers-color-scheme: dark) {
    colorscheme-auto .float-container a {
        color: #dadada;
        background-color: #424242;
    }
    colorscheme-auto .float-container a:hover,
    colorscheme-auto .float-container a:focus {
        color: #42a5f5;
    }
}
@media only screen and (prefers-color-scheme: dark) and (max-width: 768px) {
    colorscheme-auto .float-container a:hover,
    colorscheme-auto .float-container a:focus {
        color: #dadada;
    }
}

.colorscheme-dark .paginate-simple a,
.colorscheme-dark .paginate-simple button {
    color: #dadada;
}

.colorscheme-dark .paginate-simple a:hover,
.colorscheme-dark .paginate-simple a:focus,
.colorscheme-dark .paginate-simple button:hover:not([disabled]),
.colorscheme-dark .paginate-simple button:focus {
    color: #42a5f5;
}

.colorscheme-dark .paginate-simple button:disabled {
    opacity: 70%;
}

.colorscheme-dark .gallery {
    box-shadow: rgba(255, 255, 255, 0.071) 0px 1px 4px 2px;
}

.colorscheme-dark .built-with .tech img {
    filter: invert(0.9);
}
.colorscheme-dark .tooltip span {
    color: #212121;
    background-color: #dadada;
}
.colorscheme-dark .tooltip span::before {
    border-top-color: #dadada;
}
